!!! 5
!= '<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->'
!= '<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->'
!= '<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->'
!= '<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->'
!= '<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->'
  head
    meta( charset: 'utf-8' )
    meta( name: 'author', content: 'Moritz Peters')
    title CHANGE ME

    // build:css styles/style.css
    link( rel= 'stylesheet', href= '/styles/bootstrap.css' )
    link( rel= 'stylesheet', href= '/styles/style.css' )
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script( src="components/modernizr/modernizr.js")
    // endbuild

  body
    != '<!--[if lt IE 8]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]-->'
    .container
      header
        h1 Boilerplate
        navi#navigation
        #breadcrumb
        #userbox

      content
        #content
      
      #modal.hide

    
    script
      var _gaq=[['_setAccount','UA-39075702-1']];
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_trackPageview']);
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

    script
      var i18n_hashes = !{JSON.stringify(i18n_hashes())};

    // build:js scripts/main.js
    script( data-main="scripts/main", src="scripts/vendor/require.js")
    // endbuild